body {
    font-family: 'Imprima', sans-serif;
    font-weight: normal;
    font-size: 100%;
    width: 80%;
    /* Center the page */
    margin: 0 auto;
    background-color: #EEEEEE;
    background-image: url(/images/skulls.png)
}

header {
    padding-top: 1em;
    padding-bottom: .25em;
    font-size: 3em;
    border-bottom: 2px solid #efa609;
    margin-bottom: .5em;
}

footer {
    border-top: 2px solid #efa609;
    padding-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    clear: both;
}

address {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    display: inline-block;
}

img {
    display: inline-block;
    padding-right: 1em;
    width: 100%;
    vertical-align: middle;
}

img.small {
    width: 30%;
    vertical-align: middle;
    float: left;
}

ul {
    font-size: 1.5em;
    display: inline-block;
    width: 25%;
}

a {
    color: #efa609;
}

h2 {
    padding-top: 1em;
}

div.menu {
    padding-left: 1em;
    padding-bottom: 1em;
}

div.item {
    display: inline-block;
    padding-left: 2em;
    padding-bottom: 1em;
    width: 46%
}

div.item:nth-child(3) {
    clear: left;
}

dl {
    float: right;
    font-size: 1.5em;
    display: inline-block;
    width: 40%;
    margin-left: 1em;
    vertical-align: middle;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 2em 0;
    padding: 0;
}